<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? content_for(:title) : 'serializer' %>
    </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="news,feed,programming,web development">
    <meta name="description" content="Combines various non-linear news sources such as Hacker News and Reddit into a single sequential feed.">

    <link rel="apple-touch-icon" sizes="57x57" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241387/apple-touch-icon-precomposed.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/android-chrome-192x192.png">
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32 48x48 256x256" href="https://res.cloudinary.com/charlieegan3/image/upload/v1432241388/favicon.ico">
    <meta name="msapplication-TileColor" content="#8a8a8a">
    <meta name="msapplication-TileImage" content="https://res.cloudinary.com/charlieegan3/image/upload/v1432241390/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <% if flash[:message] %>
      <p class="flash"><%= flash[:message].html_safe %></p>
    <% end %>

    <%= yield %>

    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=VT323);</style>
    <%= javascript_include_tag 'application' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60492660-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
